# Import Packages

In [1]:
import pandas as pd
import numpy as np

# Read Data

In [2]:
order = pd.read_csv('order.csv')

In [5]:
order.shape

(29769, 33)

In [7]:
order.describe()

,Subtotal,Shipping,Taxes,Total,Discount Amount,Lineitem quantity,Lineitem price,Lineitem compare at price,Refunded Amount,Outstanding Balance
count,13708.000000,13708.000000,13708.0,13708.000000,13708.00000,29769.000000,29769.000000,4047.000000,13708.000000,13708.000000
mean,95.419694,0.834257,0.0,96.231336,3.56015,1.202929,41.379677,15.464542,0.688422,0.004257
std,86.741371,2.060884,0.0,86.244652,10.98043,0.809011,24.778153,24.283752,10.666278,2.823362
min,0.000000,0.000000,0.0,0.000000,0.00000,1.000000,0.000000,0.000000,0.000000,-102.000000
25%,43.000000,0.000000,0.0,43.000000,0.00000,1.000000,30.000000,0.000000,0.000000,0.000000
50%,80.000000,0.000000,0.0,80.000000,0.00000,1.000000,43.000000,0.000000,0.000000,0.000000
75%,123.000000,0.000000,0.0,123.000000,0.00000,1.000000,48.000000,38.000000,0.000000,0.000000
max,2348.000000,9.000000,0.0,2348.000000,414.00000,40.000000,927.000000,88.000000,723.000000,279.500000

In [6]:
order.columns

Index([u'Name', u'Email', u'Financial Status', u'Paid at',
       u'Fulfillment Status', u'Fulfilled at', u'Accepts Marketing',
       u'Currency', u'Subtotal', u'Shipping', u'Taxes', u'Total',
       u'Discount Code', u'Discount Amount', u'Shipping Method', u'Created at',
       u'Lineitem quantity', u'Lineitem name', u'Lineitem price',
       u'Lineitem compare at price', u'Lineitem sku',
       u'Lineitem requires shipping', u'Lineitem taxable',
       u'Lineitem fulfillment status', u'Billing Name', u'Billing Zip',
       u'Billing Province', u'Billing Country', u'Cancelled at',
       u'Payment Method', u'Refunded Amount', u'Outstanding Balance',
       u'Location'],
      dtype='object')

In [8]:
order.count()

Name                           29769
Email                          25455
Financial Status               13708
Paid at                        13172
Fulfillment Status             13708
Fulfilled at                   13664
Accepts Marketing              13708
Currency                       13708
Subtotal                       13708
Shipping                       13708
Taxes                          13708
Total                          13708
Discount Code                   3200
Discount Amount                13708
Shipping Method                 6508
Created at                     29769
Lineitem quantity              29769
Lineitem name                  29769
Lineitem price                 29769
Lineitem compare at price       4047
Lineitem sku                   29674
Lineitem requires shipping     29769
Lineitem taxable               29769
Lineitem fulfillment status    29769
Billing Name                   25455
Billing Zip                     6532
Billing Province                 390
Billing Country                 6542
Cancelled at                      22
Payment Method                 13246
Refunded Amount                13708
Outstanding Balance            13708
Location                        7198
dtype: int64

In [9]:
order.nunique()

Name                            9950
Email                           5280
Financial Status                   4
Paid at                        13165
Fulfillment Status                 3
Fulfilled at                   11732
Accepts Marketing                  2
Currency                           1
Subtotal                         691
Shipping                           4
Taxes                              1
Total                            703
Discount Code                   1612
Discount Amount                  157
Shipping Method                   20
Created at                     13700
Lineitem quantity                 19
Lineitem name                    517
Lineitem price                   105
Lineitem compare at price         32
Lineitem sku                     300
Lineitem requires shipping         2
Lineitem taxable                   2
Lineitem fulfillment status        3
Billing Name                    5280
Billing Zip                     3010
Billing Province                  34
Billing Country                   20
Cancelled at                      22
Payment Method                    23
Refunded Amount                   91
Outstanding Balance               11
Location                           3
dtype: int64

    Name: No use ?
    Email: Email for this customer (1-5280)
    Financial Status: paid, refunded, partially_refunded, pending
    Paid at: year-month-date time
    Fulfullment Status: fulfilled, partial ?, unfulfilled
    Fulfulled at: year-month-date time
    Accepts Marketing: boolean ?
    Currency: SGD
    Subtotal: order subtotal? why NA?
    Shipping: 0, 5.5, 8, 9 what? ? ?
    Taxes: 0
    Total: subTotal + Shipping
    Discount Code: ? ? ?
    Discount Amount
    Shipping Method
    Created at: Order creation time?
    Lineitem compare at price: ?
    Lineitem fulfillment status: fulfilled, partial, unfulfilled
    Billing Name: Name of customer
    Cancelled at: only 22 orders are cancelled
    Outstanding Balance: Total - Refunded Amount
    Location: only three

In [23]:
order['Lineitem fulfillment status']

0        fulfilled
1        fulfilled
2        fulfilled
3        fulfilled
4        fulfilled
5          pending
6          pending
7          pending
8          pending
9          pending
10         pending
11         pending
12       fulfilled
13       fulfilled
14       fulfilled
15       fulfilled
16       fulfilled
17       fulfilled
18       fulfilled
19       fulfilled
20       fulfilled
21       fulfilled
22       fulfilled
23       fulfilled
24       fulfilled
25       fulfilled
26       fulfilled
27       fulfilled
28       fulfilled
29       fulfilled
           ...
29739    fulfilled
29740    fulfilled
29741    fulfilled
29742    fulfilled
29743    fulfilled
29744    fulfilled
29745    fulfilled
29746    fulfilled
29747    fulfilled
29748    fulfilled
29749    fulfilled
29750    fulfilled
29751    fulfilled
29752    fulfilled
29753    fulfilled
29754    fulfilled
29755    fulfilled
29756    fulfilled
29757    fulfilled
29758    fulfilled
29759    fulfilled
29760    fulfilled
29761    fulfilled
29762    fulfilled
29763    fulfilled
29764    fulfilled
29765    fulfilled
29766    fulfilled
29767    fulfilled
29768    fulfilled
Name: Lineitem fulfillment status, Length: 29769, dtype: object